.landing_section {
  height: 100vh;
  background: $primaryColor;
  color: #fff;
  isolation: unset;

  .slider_landing {
    position: relative;
  }

  .content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 80px;

    .info {
      width: 100%;
      margin-top: -150px;
      position: relative;
      z-index: 6;
    }

    h1 {
      font-weight: 800;
      font-size: 74px;
      text-align: left;
      color: #fff;
      overflow: hidden;
      line-height: 84px;
      margin-bottom: 40px;
      opacity: 0;
      transform: translateX(-150px);
      animation: h1TagEntry 0.8s ease-in-out forwards;
      animation-delay: 0.2s;
    }

    h2>span {
      overflow: hidden;

      .whitespace {
        width: 8px;
        height: 100%;
      }
    }

    h2 {
      font-size: 28px;
      opacity: 0;
      transform: translateX(-150px);
      animation: h1TagEntry 0.8s ease-in-out forwards;
      animation-delay: 0.3s;

      b i {
        font-style: normal;
      }
    }

    .spaceship_container {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;

      svg {
        max-width: 539px;
        height: 675px;
        overflow-x: hidden;
        overflow-y: visible;
        opacity: 0;
        transform: translateX(250px);
        animation: spaceshipEntry 1s ease-in-out forwards;
        animation-delay: 0.3s;

        line {
          opacity: 0;
        }

        .shipRotation {
          transition: all 0.3s;
          // animation: spaceShip 8s ease-in-out infinite;
        }
      }

      // .line1 {
      //   width: 60px;
      //   animation: moveclouds 0.3s linear infinite;
      //   animation-delay: 0;
      // }
      // .line2 {
      //   animation: moveclouds 0.4s linear infinite;
      //   animation-delay: 0.4s;
      // }
      // .line3 {
      //   animation: moveclouds 0.3s linear infinite;
      //   animation-delay: 0.8s;
      // }
      // .line4 {
      //   animation: moveclouds 0.6s linear infinite;
      //   animation-delay: 1s;
      // }
      // .line5 {
      //   animation: moveclouds 0.2s linear infinite;
      //   animation-delay: 0.2s;
      // }
      // .line6 {
      //   animation: moveclouds 0.3s linear infinite;
      //   animation-delay: 0.3s;
      // }
    }
  }

  .landing_bg {
    width: 100%;

    .top_cloud {
      width: 100%;
      height: 260px;
      position: absolute;
      top: 0;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }

    .center_cloud {
      div {
        position: absolute;
        opacity: 70%;
        z-index: 1;
        opacity: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .cloud1 {
        height: 60px;
        left: 0;
        bottom: 35%;
        animation: smallCloud 35s linear infinite;
        animation-delay: 0;
      }

      .cloud2 {
        height: 25px;
        left: 0;
        top: 25%;
        animation: smallCloud 41s linear infinite;
        animation-delay: 0.8s;
      }

      .cloud3 {
        height: 45px;
        left: 0;
        top: 45%;
        animation: smallCloud 37s linear infinite;
        animation-delay: 1.6s;
      }

      .cloud4 {
        height: 42px;
        left: 0;
        top: 65%;
        animation: smallCloud 39s linear infinite;
        animation-delay: 2.4s;
      }

      .cloud5 {
        height: 47px;
        left: 0;
        top: 15%;
        animation: smallCloud 43s linear infinite;
        animation-delay: 3.2s;
      }

      .cloud6 {
        height: 39px;
        left: 0;
        bottom: 40%;
        animation: smallCloud 47s linear infinite;
        animation-delay: 4s;
      }

      .cloud7 {
        height: 47px;
        left: 0;
        top: 25%;
        animation: smallCloud 51s linear infinite;
        animation-delay: 4.8s;
      }

      .cloud8 {
        height: 45px;
        left: 0;
        bottom: 30%;
        animation: smallCloud 48s linear infinite;
        animation-delay: 5.6s;
      }

      .cloud9 {
        height: 64px;
        left: 0;
        bottom: 50%;
        animation: smallCloud 45s linear infinite;
        animation-delay: 6.4s;
      }
    }

    .cloud_bottom {
      width: 100%;
      overflow: hidden;

      div {
        position: absolute;
        transition: 0.3s;

        img {
          margin-left: -4px;
        }
      }

      .cloud_bottom1 {
        width: 5760px;
        z-index: 5;
        bottom: 0;
        height: 227px;

        img {
          display: inline-block;
        }

        .first {
          animation: bannermove 70s linear infinite;
        }
      }

      .cloud_bottom2 {
        width: 5760px;
        z-index: 4;
        bottom: 0;
        height: 266px;

        img {
          display: inline-block;
        }

        .first {
          animation: bannermove 78s linear infinite;
        }
      }

      .cloud_bottom3 {
        width: 5760px;
        z-index: 1;
        bottom: 0;
        height: 338px;

        img {
          display: inline-block;
        }

        .first {
          animation: bannermove 86s linear infinite;
        }
      }
    }
  }
}